@font-face {
    font-family: "Gotham Bold";
    src: url(Fonts/Gotham-Bold.ttf);
}
*{
    padding: 0; 
    margin: 0;
    font-family: "Roboto";
    /* -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s; */
    font-size: 14px;
}
.header { 
    grid-area: header; 
    background-image:url("../images/bg_header.png");
    display: grid;
    grid-template-areas: 'left center center center right';
    grid-template-rows: 100px auto;
}
.header_left {
    grid-area: left;
    place-self: center left;
    padding: 0 0 0 30px;
} 
.header_left a, .header_right {
    color:#FFF;
    text-decoration: none;
    padding: 0 50px 0 0;
}
.header_right {
    grid-area: right;
    place-self: center right;
} 
.menu { 
    grid-area: menu; 
    background-color: #000f25;
    padding: 10px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.block_ava {
    display: grid;
    grid-template-areas: 'img info info';
    color: #FFF;
    padding: 20px 0 30px 20px;
    grid-template-columns: 42px auto;
}
.block_ava a {
    grid-area: img;
    place-self: center;
}
.block_ava p {
    grid-area: info;
    display: block;
    color: #0d8490;
    font-size: 16pt;
    place-self: center;
    text-align: left;
}
.block_ava p span {
    display: block;
}
.item5 { grid-area: footer; }

.grid-container {
      display: grid;
      grid-template-areas:
        'menu header header header header header'
        'menu main main main main main';
    grid-template-columns: 224px auto;
    grid-template-rows: 100px auto;
    grid-gap: 0;
    background-color: #FFF;
    padding: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.grid-container.hidden_menu {
    grid-template-columns: 0 auto;
}
.grid-container.hidden_menu .menu {
    display: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s ;
}
.grid-container > div {
  text-align: center;
  font-size: 16px;
}
.main_menu {
    display: grid;
    color: #fff;
    padding: 0 0 110px 0;
}
.menu_item {
    padding: 10px 20px;
    grid-template-columns: 50px auto;
    text-align: center;
}
.menu_item .icon {
    grid-area: img;
}
.menu_item .info {
    grid-area: info;
    font-size: 16px;
    place-self: center left;
    border: 1px solid #CCC;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.menu_item .info:hover,
.menu_item.active .info{
    background:#AF0C5A;
    color: #FFF;
}
.isd_main {
    min-height: 100vh;
    grid-area: main;
    background: #006666;
    display: grid;
    grid-template-areas: 
        '. center  .'
        '. left right';
    grid-template-columns: auto minmax(max-content, 980px);
/*    grid-template-rows: 60px auto;*/
    grid-gap: 20px;
/*    padding: 20px 0;*/
}
.main_title {
    grid-area: center;
    background: #FFF;
    grid-row: 1/2;
    grid-column: 2 / span 1;
    border-radius: 30px;
    display: grid;
    grid-template-areas: 'left right';
    justify-content: stretch;
    margin: 0 ;
}
.main_title .balance {
    grid-area: left;
    place-self: center;
    display: grid;
    grid-template-areas: "left right";
    align-content: stretch;
    grid-gap: 50px;
    justify-content: center;
}
.main_title .paypal {
    grid-area: right;
    place-self: center;
    background: #66cc99;
    line-height: 44px;
    padding: 0 20px;
    border-radius: 20px;
    color: #FFF;
}
.header_center {
    color: #FFF;
    grid-area: center;
    justify-content: center;
    place-self: center;
}
.balance span {
    color: #009999;
    font-size: 26px;
    place-self: center;
}
.block_ava img {
    width: 50px;
    border-radius: 100%;
}
.balance label {
    color: #000033;
    font-size: 22px;
    place-self: center;
}
.main_content {
    grid-area: left;
    display: grid;
    grid-column: 2 / span 1;
    grid-gap: 20px;
}
.filter_time {
   grid-area: full;
}
.hidden {
    display: none!important;
}
#dt {
    text-indent: -500px;
    height: 25px;
    width: 200px;
  }
.filter_time > div {
    display: inline-block;
    margin: 0 5px;
}
.main_content h2 {
    color:#000033;
    font-size: 18px;
    padding: 8px 0 8px 0;
}
#isd_app .main_content_left {
  background: none;
}
.main_content_left {
  background: #FFF;
  border-radius: 20px;
  /*
    background: #FFF;
    border-radius: 40px;
    padding: 0 10px 30px 10px;
*/
}
.action_filter{
    background: #66cc99;
    color: #FFF;
    border-radius: 20px;
    line-height: 30px;
    padding: 0 15px;
    cursor: pointer;
}
.action_filter.active, .action_filter:hover {
    background:#AF0C5A;
    color: #FFF;
}
.main_content_right {
    background: #FFF;
    border-radius: 40px;
    padding: 0 10px 30px 10px;
}
.control {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'full full full'
        '1fr 1fr 1fr';
}
.list_info {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: auto 301px;
    padding: 0 0 32px 0;
}
.list_infos {
/*
    overflow-y: scroll;
    padding: 0 30px 0 0;
    margin: 32px 0 0 0;
*/
}
.list_info img {
    grid-area: left;
    place-self: center left;
}
.header_left {
    color: #FFF;
}
.control input {
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 14px;
}
.item_info {
    display: grid;
    grid-template-areas: 'title logo title2 right';
    background: url(bg_item.png) no-repeat;
    font-size: 14px;
    grid-auto-columns: 120px 30px 120px 30px;
    justify-content: stretch;
    grid-template-rows: 62px;
}
.item_info h4{
    grid-area: title;
    color:#fff;
    place-self: center;
}
.item_info h4 span, .item_info h3 span {
    display: block;
}
.item_info h3{
    grid-area: title2;
    color:#fff;
    place-self: center;
}
.item_info img {
    grid-area: logo;
    place-self: center;
}
.item_info button {
    grid-area: right;
    place-self: center;
}
.footer {
    padding: 40px 24px;
}
.menu_footer a {
    color: #FFF;
    display: block;
    text-align: left;
    text-decoration: none;
    font-size: 12px;
    line-height: 40px;
}
.bangkehoach > div {
    display: grid;
    grid-template-columns: 25% 7% 7% 7% 7% 7% 7% 7% 7% 7% 7%;
    padding: 10px;
    border-bottom: 1px solid #CCC;
}
.ke_tuan {
    border-left: 1px solid #CCC;
}
.bangdonvitinh > div {
    grid-template-columns: 25% 15% 15% 15%;
}
/* #isd_app .isd-login-form {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#0e2696, #00BCD4);
    padding: 10px 23px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
    -moz-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
    box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
}
#isd_app .isd-login-form img {
    width: 100%;
}
#isd_app .login-logo {
    margin-bottom: 30px;
}
#isd_app .isd-login-form button {
    background-color: #A22059;
    width: 100%;
}
#isd_app .isd-login-form .ui.form label {
    color: #fff;
} */
.login-wrapper {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(#0e2696, #00BCD4);
    padding: 10px 23px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
    -moz-box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
    box-shadow: 3px 4px 3px 0px rgba(158, 154, 158, 0.82);
  }
  .login-form button.login-form-button {
    background: #A22059;
    color: #fff;
    border: none;
    font-weight: 700;
    width: 100%;
  }
  .login-form .ant-form-item {
    margin-bottom: 10px;
  }
  .login-form .ant-form-item-control {
    text-align: center;
  }
  .login-logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .login-logo img {
    display: block;
    width: 100%;
  }
.order-add-form .ReactTable .rt-td {
    overflow: visible;
}
.order-add-form .results.visible {
  max-height: 300px;
  overflow: scroll;
}
.order-add-form .visible.dropdown {
  z-index: 20000!important;  
}
.order-add-form .header {
  background-image: none;
}
.order-add-form .store-item.error .ui input {
  border: 1px solid #F44336;
}
.order-add-form .store-exitst .ui input {
  border: 1px solid #00B5AD;
}
.order-add-form .file-upload {
  position: absolute;
  height: 50px;
  z-index: 0;
  width: 100%;
}
.order-add-form .file-upload input {
  opacity: 0; 
  height: 50px;
  width: 100%;
}
.order-add-form .editable-input {
  overflow: auto; 
}
.order-add-form .ui.icon.input input {
  padding-right: 0;
}
.order-add-form .ui.input input {
  padding: 4px;
}
.header .header_center h2{
  color: #fff;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.editable-cell {
  position: relative;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -7px;
  display: none;
}

td:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}
.table-operations {
  margin-bottom: 10px;
}
.table-operations .action-btns {
  text-align: right;
}
.table-operations .head-title {
  text-transform: uppercase;
  text-align: left;
  padding-left: 12px;
}
.ant-table-wrapper {
  max-width: 980px;
  min-height: 80vh;
}
#isd_app .ant-layout {
  padding: 10px;
}